<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../../src/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Pizzaria 31</title>
</head>

<body>
    <img src="../../src/logo.png" alt="">


    <form action="">

        <div class="line"></div>

        <div>
            <input type="text" id="user" required>
            <label for="user" class="labeluser">Usuário</label>
        </div>

        <div>
            <input type="password" id="pass" required>
            <label for="pass" class="labelpass">Senha</label>
        </div>

        <button type="submit">Entrar</button>
    </form>

</body>

</html>