<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../src/favicon.png" type="image/x-icon">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../style.css">
    <title>Pedidos - Pizzaria 31</title>
</head>

<body>


    <div class="loader">
        <span class="loader__element"></span>
        <span class="loader__element"></span>
        <span class="loader__element"></span>


        <div id="confirmacao">
            <h1>Informações</h1>

            <h2>Nome: </h2>
            <h2>Nome: </h2>
            <h2>Nome: </h2>
            <h2>Nome: </h2>
        </div>
    </div>

    <header>
        <img src="../../src/logo.png" alt="">


        <dl>
            <dd>
                <a href="../../index.html">
                    <span class="material-symbols-outlined">
                        home
                    </span>
                </a>
            </dd>
            <dd>
                <a>
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                </a>
            </dd>
            <dd>
                <a href="../login/index.html">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                </a>
            </dd>
        </dl>
    </header>

    <main>

        <div class="cadastro-pedido">
            <h2>Monte sua <span class="pizza">PIZZA</span> agora</h2>

            <h3>Escolha o tamanho</h3>

            <div class="tamanho-pizza">
                <div class="pequena" onclick="tamanhoPizza(1)">P</div>

                <div class="media" onclick="tamanhoPizza(2)">M</div>

                <div class="grande" onclick="tamanhoPizza(3)">G</div>
            </div>


            <div class="flex">
                <div>
                    <h3>Escolha os sabores</h3>

                    <label>3 Queijos
                        <input type="checkbox" onclick="sabor(1, event)">
                        <span class="check"></span>
                    </label>
                    <label>Calabresa
                        <input type="checkbox" onclick="sabor(2, event)">
                        <span class="check"></span>
                    </label>
                    <label>Margherita
                        <input type="checkbox" onclick="sabor(3, event)">
                        <span class="check"></span>
                    </label>
                    <label>Pepperoni
                        <input type="checkbox" onclick="sabor(4, event)">
                        <span class="check"></span>
                    </label>

                    <label>Portuguesa
                        <input type="checkbox" onclick="sabor(5, event)">
                        <span class="check"></span>
                    </label>
                </div>

                <div>
                    <h3>Adicionais</h3>

                    <label>Borda Recheada (R$5,00)
                        <input type="checkbox" onclick="adicionais(1, event)">
                        <span class="check"></span>
                    </label>
                    <label>Catupiry (R$6,00)
                        <input type="checkbox" onclick="adicionais(2, event)">
                        <span class="check"></span>
                    </label>
                    <label>Dobro de Queijo (R$8,00)
                        <input type="checkbox" onclick="adicionais(3, event)">
                        <span class="check"></span>
                    </label>
                    <label>Dobro de Carne (R$10,00)
                        <input type="checkbox" onclick="adicionais(4, event)">
                        <span class="check"></span>
                    </label>
                    <label>Batata-Frita (R$20,00)
                        <input type="checkbox" onclick="adicionais(5, event)">
                        <span class="check"></span>
                    </label>
                </div>
            </div>

            <div class="flex">
                <div>
                    <h3>Bebidas</h3>
                    <label>Coca-Cola Lata (R$5,00)
                        <input type="checkbox" onclick="bebida(1, event)">
                        <span class="check"></span>
                    </label>
                    <label>Coca-Cola 2L (R$10,00)
                        <input type="checkbox" onclick="bebida(2, event)">
                        <span class="check"></span>
                    </label>
                    <label>Cerveja (R$14,00)
                        <input type="checkbox" onclick="bebida(3, event)">
                        <span class="check"></span>
                    </label>
                    <label>Suco de Abacaxi (R$12,00)
                        <input type="checkbox" onclick="bebida(4, event)">
                        <span class="check"></span>
                    </label>
                    <label>Suco de Morango (R$12,00)
                        <input type="checkbox" onclick="bebida(5, event)">
                        <span class="check"></span>
                    </label>
                    <label>Caipirinha (R$25,00)
                        <input type="checkbox" onclick="bebida(6, event)">
                        <span class="check"></span>
                    </label>
                </div>

                <div>
                    <h3>Entrega</h3>

                    <label>Balção (Grátis)
                        <input type="radio" name="entrega" onclick="adicionais(7, event)">
                        <span class="check"></span>
                    </label>

                    <label>Motoboy (R$5,00)
                        <input type="radio" name="entrega" onclick="adicionais(6, event)">
                        <span class="check"></span>
                    </label>
                </div>
            </div>

            <div class="informacoes-pizza">

                <div>
                    <h3>Informações da pizza</h3>


                    <div class="fundo-pizza">
                        <div class="pizza-amostra">
                            <div class="queijo">?</div>
                        </div>
                    </div>


                    <h2>Total: R$ <span id="total">0</span></h2>
                    <button onclick="comprar()">Comprar Pizza</button>
                </div>

                <div class="fundo-bebidas">
                    <img class="coca-cola-lata"
                        src="https://www.imagensempng.com.br/wp-content/uploads/2022/01/2442.png" alt="">
                    <img class="coca-cola"
                        src="https://imagensemoldes.com.br/wp-content/uploads/2020/05/Pet-2-Litros-Coca-Cola-PNG.png"
                        alt="">
                    <img class="cerveja"
                        src="http://d2r9epyceweg5n.cloudfront.net/stores/001/212/823/products/cerveja-devassa-600ml1-3823b5acbc54c257dc15912997313160-640-0.png"
                        alt="">
                    <img class="abacaxi"
                        src="https://www.pngmart.com/files/10/Pineapple-Juice-Glass-PNG-Transparent-Image.png" alt="">

                    <img class="morango" src="https://www.estilla.com.br/assets/uploads/drinks/zae0ymucng0oc0woc.png"
                        alt="">

                    <img class="caipirinha"
                        src="https://cachacaseleta.com.br/wp-content/uploads/2021/01/drink_seleta_capirinha.png" alt="">
                </div>
            </div>

    </main>



    <script src="./index.js"></script>

</body>

</html>