* {
    color: var(--black);
    font-weight: 500;
}

body {
    overflow: auto !important;

}

body main {
    margin: 20px 50px;
}

body .pequena,
body .media,
body .grande {
    background-color: var(--redhover);
    border-radius: 120px;
    cursor: pointer;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    transition: 0.3s;
}

body .pequena:hover,
body .media:hover,
body .grande:hover {
    background-color: var(--greenhover);
}

body .pequena {
    width: 80px;
    height: 80px;
}

body .media {
    width: 100px;
    height: 100px;
}

body .grande {
    width: 120px;
    height: 120px;
}

body .tamanho-pizza {
    display: flex;
    align-items: center;
}

main {
    display: flex;
}

main .cadastro-pedido {
    width: 60%;
}

label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(219, 219, 219);
}

label:hover input~.check {
    background-color: #ccc;
}

label input:checked~.check {
    background-color: var(--redhover);
}

.check:after {
    content: "";
    position: absolute;
    display: none;
}

label input:checked~.check:after {
    display: block;
}

label .check:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



main .informacoes-pizza {
    top: 0;
    position: fixed;
    right: 0;
    width: 20%;
    margin-top: 150px;
    height: 500px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

main .informacoes-pizza h3 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .informacoes-pizza .pizza-amostra {
    margin-top: 10px;
    width: 250px;
    height: 250px;
    border-radius: 200px;
    background-color: rgb(185, 185, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    transition: 0.3s;
    cursor: pointer;
}

main .informacoes-pizza .pizza-amostra:hover {
    animation: spinner 2s;
}

@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}

main .informacoes-pizza .queijo {
    position: absolute;
    width: 225px;
    height: 225px;
    border-radius: 200px;
    background-color: #ccc;
    transition: 0.3s;
    cursor: pointer;
}

main .flex {
    display: flex;
}

main .flex div {
    width: 50%;
}

main .informacoes-pizza button {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--white);
    font-weight: 400;
    cursor: pointer;
}

main .informacoes-pizza button:hover {
    background-color: var(--greenhover);
}

main .informacoes-pizza .fundo-pizza {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
}

main .informacoes-pizza .queijo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: rgb(175, 175, 175);
}


main .coca-cola,
main .coca-cola-lata,
main .cerveja,
main .abacaxi,
main .caipirinha,
main .morango {
    position: absolute;
    z-index: 1;
    height: 200px;
    right: 0;
    margin-top: 180px;
    margin-right: -50px;
    display: none;
}

main .morango {
    margin-right: 300px;
    margin-top: 220px;
    height: 140px;
    z-index: 0;
}

main .coca-cola-lata {
    margin-right: 200px;
    margin-top: 226px;
    height: 150px;
}

main .cerveja {
    margin-top: 165px;
    margin-right: 220px;
}

main .abacaxi {
    height: 155px;
    margin-top: 230px;
    margin-right: 40px;
}

main .caipirinha {
    margin-top: 250px;
    height: 130px;
}

.display-block {
    display: block !important;
}


.loader {
    background-color: var(--white);
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 5;
    display: none;
}

.loader__element {
    border-radius: 100%;
    border: 4px solid var(--green);
    margin: 12px;
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}

#confirmacao{
    display: none;
}